/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}
h1{
  background: #353540;
  color: #FFFFFF;
  font-size: 50px;
  padding: 40px;
}
header.c-site-header, footer.c-site-footer {
  width: 100%;
  background-color: #3c6e71;
  color: azure;
  font-size: 25px;
  text-align: center;
  padding: 10px 0;
}
a{
  text-align: inline;
  color: #D9D9D9;
  margin: 25px 30px;
  padding: 5px;

}
#mypic{
  width: 500px;
  float: right;
}
main{
  /* background-image: url("https://i.imgur.com/0VXqxjW.jpg");
  background-size: cover; */
  filter: blur(1px);
  padding: 300px;
}

#aboutme-text{

  z-index: 100;
  position: absolute;
  text-align: left;
  color: rgba(30, 151, 129, 0.93);
  font-size: 24px;
  font-weight: regular;
  left: 0;
  top: 0;
}
#dice-game{
  background: #353540;
  color: #FFFFFF;
  font-size: 50px;
  padding: 40px;
}
#button_roll, #button_remove, #button_restart{
  background-color: #3c6e71;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}
#acc{
  background-color: #CACFD2;
  border: none;
  padding: 5px 15px;
  text-align: center;
  text-decoration: wavy;
  font-size: 15px;
}
#arang-kel{
  width: 800px;
  height: 650px;
  border: 5px solid #353540;
  padding: 5px 5px;
  border-radius: 5px;
}
#areebiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#areebsob, #instavideo {
  width: 420px;
  height: 350px;
  border: 5px solid #353540;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}
